{% extends 'index.html'  %}

{% block head %}
    <title>Add_purchase</title>
{%endblock%}

{%  block body%}
<h1>הוספת קניה</h1>
{% if error_messages %}
    <div style="color: #5cb85c ,font-size :60px">
        {% for message in error_messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
 <form class="formAP" action="/add_purchase" method="POST">
      <label>שם פריט</label>
    <input id="item_name" name="item_name" type="text" value="{{ request.form['item_name'] }}">
    <label>כמות</label>
    <input id="qty" name="qty" type="text" value="{{ request.form['qty'] }}">
    <label>מחיר</label>
    <input id="price" name="price" type="text" value="{{ request.form['price'] }}">
    <label>קטגוריה</label>
    <input id="category" name="category" type="text" value="{{ request.form['category'] }}">
    <button class="btnAddRL">הוסף</button>
    </form>
{%endblock%}
