{% extends 'index.html' %}

{% block head %}
    <title>Personal area</title>
{% endblock %}

{% block body %}
<div class="button-container">
    <button class="top-buttons" onclick="window.location.href='/profile/getMore'"> כל הקניות </button>
    <button class="top-buttons" onclick="window.location.href='/personal_area'">קניות משבוע אחרון</button>
    <button class="top-buttons" onclick="window.location.href='/saveData'">גיבוי נתונים</button>
    <button class="top-buttons" onclick="window.location.href='/downloadData'">הורד את הקובץ</button>
    <button class="top-buttons" onclick="window.location.href='/graph1'"> סך הוצאות בכל שבוע</button>
    <button class="top-buttons" onclick="window.location.href='/graph2'"> ממוצע הוצאות לפי חודש </button>
    <button class="top-buttons" onclick="window.location.href='/optimize_purchases'">ליעול קניות </button>
</div>

    {% if purchases %}

<div class="table-container">
    <p>:הקניות שלך</p>
    <table>
        <tr>
            <th>מחיקה</th>
            <th>עריכה</th>
            <th>תאריך</th>
             <th>כמות</th>
             <th>מחיר</th>
            <th>שם פריט</th>
        </tr>
        {% for purchase in purchases %}
            <tr>
<td>
    <form action="/delete_purchase/{{ purchase.id }}" method="POST" style="display:inline;">
        <button type="submit" class="DE">X</button>
    </form>
</td>
<td>
    <a class="edit" href="{{ url_for('edit_purchase', purchase_id=purchase.id) }}">
        <button class="DE">ערוך</button>
    </a>
</td>
                <td>{{ purchase.date }}</td>
                 <td>{{ purchase.qty }}</td>
                 <td>{{ purchase.price }} ₪</td>
                <td>{{ purchase.item_name }}</td>
            </tr>
        {% endfor %}
    </table>
        <button class="top-buttons" onclick="window.location.href='/add_purchase'">הוסף קניה</button>
</div>
    {% else %}
        <p>!אין קניות להציג</p>
        <button class="top-buttons" onclick="window.location.href='/add_purchase'">הוסף קניה</button>

    {% endif %}
<!--<form class="personal_area_class" action="" method="get">-->
<!--&lt;!&ndash;    <button formaction="/add_purchase">הוסף קניה</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button formaction="/profile/getMore">להצגת כל הקניות שלך לחץ כאן</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button formaction="http://127.0.0.1:5000/saveData">גיבוי נתונים</button><button formaction="http://127.0.0.1:5000/downloadData">הורד את הקובץ</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button formaction="http://127.0.0.1:5000/graph1">כדי לראות את סך ההוצאות שלך בכל שבוע בשנה האחרונה לחץ כאן</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button formaction="http://127.0.0.1:5000/graph2">כדי לראות את ממוצע ההוצאות בחודש זה לעומת חודשים קודמים לחץ כאן</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button formaction="http://127.0.0.1:5000/optimize_purchases">ליעול קניות לחץ כאן</button>&ndash;&gt;-->
<!--    {% if request.args.get('graph') %}-->
<!--        <img src="{{ url_for('static', filename='graphs/' + request.args.get('graph').split('/')[-1]) }}" alt="Monthly Expenses Comparison">-->
<!--    {% endif %}-->
<!--</form>-->

{% endblock %}