{% extends 'index.html'  %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}
<h1>!!הרשם כעת</h1>
{% if error_message %}
    <p style="color: #595959;">{{ error_message }}</p>
{% endif %}

<form class="formRL" action="/Register" method="POST">
    <label>אימייל</label>
    <input id="email" name="email" type="text" value="{{ current_user.email }}">
    <label>סיסמא</label>
    <input id="password" name="password" type="password" value="{{ current_user.password }}">
    <button class="btnAddRL">הרשם</button>

    {% if not current_user.is_authenticated %}
        <button class="btnAddRL" type="button" onclick="window.location.href='/demoProfile'">הדגם לי את האפליקציה</button>
    {% endif %}
</form>
{% endblock %}